* {
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    background-image: url(kv-logo-svg.png);
    background-size: 100px
}

body {
    background-image: url(kv-logo-svg.png);
    background: linear-gradient(to top right, #3366cc 0%, #006666 100%);
    height: 100%;
}

#tile1 {
    width: auto;
    height: 300px;
    margin: 10px;
}               

#tile2 {
    width: auto;
    height: 300px;
    margin: 10px;
}

.tilescontainer {
    width: 100%;
    height: 100vh; /* Set height to 100% of viewport height */
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 70px 0;
}

.tilescontainer img {
    display: flex;
    max-width: 100%; /* Ensure images do not exceed their container */
    height: auto; /* Maintain aspect ratio */
    width: 50vw; /* Set width to 50% of viewport width */
    /* padding-top: 100px; */

}

